
/*  --  BODY STYLING  --*/
body{
    margin :10px;
    padding:0;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #ffffff;
}
/*  --  END BODY STYLING  --*/
/****************************************************************************/
/*  --  START TOOLTIP STYLING  --*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: none;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    height:22px;
    background-color: #FFFFFF;
    font-size: 10px;
    font-family: Arial;
    font-weight: bold;
    text-transform: none;
    color: blue;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    border: solid #ff6600;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -10px;
    border-width: 10px;
    border-style: solid;
    border-color:#ff6600 transparent transparent transparent;
}
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
/*  --  END TOOLTIP STYLING  --*/
/****************************************************************************/
/*  --  START BUTTON STYLING  --*/
a{
    position: relative;
    width: 80px;
    padding: 20px 20px 20px 20px;
    display: inline-block;
    color: blue;
    font-size: 20px;
    font-family: Arial;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 3px;
    transition: 0.25s;
    margin: 40px;
    top: -90px;
    background: #ffffff;
}
a:hover{
    background: #0f1cd8;
    transition-delay: 0.5s;
    box-shadow: -30px 30px 50px rgba(0,0,0,0.4);
    transform: rotate(-5deg) skew(25deg);
    color: white;
}
a:before,
a:after{
   content: "";
   position: absolute;
   width: 2px;
   height: 100%;
   background: #0f1cd8; 
   pointer-events: none;
   transform-style: linear;
   transition-property: width,opacity,transform,box-shadow;
   transition-duration: 0.25s;
}
a:before{
    top: 0;
    left: 0;
}
a:after{
    top: 0;
    right: 0;
}
a:hover:before{
    width: 100%;
    opacity: 0.2;
    transform : translate(-5px,5px);
    box-shadow: +2px 2px 2px rgba(0,0,0,0.1);
    transition-delay: 0s,0.5s,1.0s,1.5s;
}
a:hover:after{
    width: 100%;
    opacity: 0.2;
    transform : translate(-10px,10px);
    box-shadow: +2px 2px 2px rgba(0,0,0,0.1);
    transition-delay: 0s,0.5s,1.0s,1.5s;
}
.tooltip {
    position: relative;
    display: inline-block;
}
/*  --  END BUTTON STYLING  --*/
/****************************************************************************/
/*  --  START TOP LEVEL TAB STYLING  --*/
.title{
    font-family: Arial;
    color: #120ed3;
    text-align: center;
}
.tabContainer{
    width: 100%;
    height: 100%;
}
.tabContainer .buttonContainer{
    height: 7%;
}
.tabContainer .buttonContainer button{
    width: 25%;
    height: 100%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    background-color: #eee;
}
.tabContainer .buttonContainer button:hover{
    background-color: #d7d4d4;
}
.tabContainer .tabPanel{
    height: 85%;
    background-color: gray;
    color: white;
    text-align: center;
    padding-top: 105px;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
    display: none;
}
/*  --  END TOP LEVEL TAB STYLING  --*/
/****************************************************************************/
/*  --  START NESTED TAB STYLING  --*/
.tabContainer .tabPanel button{
    position: relative;
    top: -105px;
    width: 50%;
    height: 10%;
    float: left;
    border: none;
    outline:none;
    cursor: pointer;
    padding: 10px;
    font-family: Arial;
    font-size: 20px;
    background-color: #eee;
}
.tabContainer .tabPanel button:hover{
    background-color: #d7d4d4;
}
/*  --  START NESTED TAB STYLING  --*/
/****************************************************************************/

.tabContainer .tabtabPanel{
    height: 100%;
    position: relative;
    background-color: #ffffff;
    color: #000000;
    top:-50px;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial;
    font-size: 20px;
    display: none;
}
iframe{
    position: relative;
    top:-50px;
}

